.all {
    margin-top: 30px;
}

.tabel_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.all_group {
    font-size: xx-large;
}

.btn.btn_add {
    background-color: rgb(39, 83, 122);
    color: #fff;
    font-size: x-large;
}

.btn.btn_about {
    background-color: #333;
    color: #fff;
    font-size: large;
}

.container.group {
    display: flex;
    border: 2px solid #4a98f7;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    min-height: 80px;
    font-size: x-large;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.name_group {
    text-align: center;
    min-width: 300px;
    max-width: 300px;
}

.day_time b,
.name_group b {
    font-weight: 600;
}

.voskl {
    color: #fff;
    display: flex;
    font-size: xxx-large;
    background-color: red;
    border-radius: 50%;
    width: 72px;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 770px) {
    .container.group {
        flex-direction: column;
        min-height: 290px;
    }

    .btn.btn_about {
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 500px) {
    .all_group {
        font-size: x-large;
    }

    .btn.btn_add {
        font-size: large;
    }
}