.edit_btns {

display: flex;

justify-content: flex-end;
}

.edit_btns a {

background-color: #333;

padding: 10px;

border-radius: 10px;
}

.edit_btns a h3 {
    
}

.time_table_header  {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 50%;
}

.time_table_header form .dates{
    min-width: 450px;
}

.time_table_header form {
    display: flex;
    justify-content: center;
}

 .btn.btn_submit {

background-color: #333;

color: #fff;

margin-left: 20px;
}

.next_prev_btns {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.next_prev_btns a {
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 10px;
}

.head_table_header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}



/* index.css */

.table-responsive-sm {
    min-width: 80%;
}

.all_table {
    margin: 20px;
    background-color: #316899;
    border-radius: 10px;
    padding-bottom: 20px;
}

.table_header {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    padding: 10px;
}


.items_of_table {
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    flex: 1 1 160px;
}

.list-group {
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    min-width: 600px;
    max-width: 600px;
}

.list-group-item.list-group-item-action.first {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.day_of_group {
    font-size: 1.3rem;
    font-weight: 500;
    color: #000;
}


.items_of_table.active {
    display: flex;
}

.table_header .fa.fa-caret-down {
    transform: rotate(0deg);
    transition: all 0.2s linear;
}

.table_header.active_rotate .fa.fa-caret-down {
    transform: rotate(180deg);
    transition: all 0.2s linear;
}

#class_inf {
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

#class_inf img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text.text-center {
    position: absolute;
    text-transform: uppercase;
    color: white;
    width: 400px;
    background: #00000094;
    padding: 10px;
    text-align: center;
    font: bold 24px/34px Helvetica, Sans-Serif;
}

.h2_index {
    font-size: xxx-large;
}



@media screen and (max-width: 1840px) {
    .list-group {
        min-width: 500px;
        max-width: 500px;
    }
}

@media screen and (max-width: 1538px) {
    .list-group {
        min-width: 400px;
        max-width: 400px;
    }
}


@media screen and (max-width: 839px) {
    .h2_index {
        font-size: xx-large;
    }

    .h3_no.text-center {
        font-size: larger;
    }

    .list-group {
        min-width: 80%;
        max-width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .text.text-center {
        width: auto;
    }
}

@media screen and (max-width: 390px) {
    .all_table {
        margin: 20px 0;
    }

    .list-group {
        min-width: 95%;
        min-width: 95%;
    }
}