.all_table {
    margin: 20px;
    padding-bottom: 20px;
}

.user {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
    border: 2px solid #4a98f7;
    border-radius: 10px;
    justify-content: space-between;
}

.user img,
.user div img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.inter_user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.all_table .user,
.all_table .user .about_user {
    color: #000;
    margin-left: 20px;
}

.all_table .user p {
    font-size: 25px;
}

.all_table .user .about_user .btn {
    color: #fff;
    border: none;
    outline: none;
    font-style: 17px;
    padding: 8px 15px;
    background: #333;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}

.user_fi {
    font-weight: 600;
}

#132 {
    margin-left: 20px;
}

@media screen and (max-width: 930px) {
    .all_table .user .about_user {
        display: flex;     
        flex-direction: column;
    }
    .all_table .user .about_user .btn {
        margin: 5px 0;
    }
}

@media screen and (max-width: 680px) {
    .table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .table .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        width: 100%;
    }

    .table .inter_user {
        margin: 0 auto;
        display: flex;
        min-width: 270px;
        flex-direction: column;
}

    #123 {
        margin-left: 0px;
    }

    .all_table .user .about_user {
        display: block;
    }
    .all_table .user .about_user .btn {
        margin: none;
    }
}

@media screen and (max-width: 522px) {
    .all_table h1 {
        font-size: 30px;
    }
    .all_table .user .about_user {
        display: flex;     
        flex-direction: column;
    }
    .all_table .user .about_user .btn {
        margin: 5px 0;
    }
}
