{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/audience.css') }}">

<div class="all_table">
    <div class="all_about_containers">
        <div class="container">
            <div class="row">
                <div class="col btn-col">
                    <button class="btn back"> <img src="/static/svg/left-arrow-svgrepo-com.svg" width="24" height="24">
                        Назад
                    </button>
                </div>
                <div class="col">
                    <div class="container about">
                        <div class="row">
                            <div class="user_img">
                                <div class="name_audience">
                                    <div class="audience"><b>Подтверждение удадения преподавателя</b></div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-left: 30px">
                        <h5><b>ФИО:</b>{{ teacher.surname }} {{ teacher.name }} {{ teacher.otchestvo }} </h5>
                        <h5><b>Группы:</b></h5>
                            {% for group in groups %}
                        <h5><b>{{ group.subject }}</b></h5>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col btn-col">
                    <button class="btn back"><a href="/real_teacher_delete/{{ teacher.id }}">
                        Удалить преподавателя
                    </a>
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}