{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/audience.css') }}">

<div class="all_table">
    <div class="all_about_containers">
        <div class="container">
            <div class="row">
                <div class="col btn-col">
                    <button class="btn back"> <img src="/static/svg/left-arrow-svgrepo-com.svg" width="24" height="24">
                        Назад
                    </button>
                </div>
                <div class="col">
                    <div class="container about">
                        <div class="row">
                            <div class="user_img">
                                <img src="{{ url_for('static', filename=audience.image) }}">
                                <div class="name_audience">
                                    <div class="audience"><b>Аудитория</b></div>
                                    <div class="name">{{ audience.name }}</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container about" style="margin-top: 20px;">
                    <div class="row">
                        <div class="smt"></div>
                        <div class="profile_main text-center">
                            Здесь будет расписание, а пока кря
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let btnBack = document.querySelector('.btn.back')
    btnBack.addEventListener('click', () => { window.history.back() })
</script>



{% endblock %}