{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/delete_par.css') }}">

<form action="" method="POST">
<div class="all_table">
    <h3 class="text-center h3_name">Аудитория "{{ audience.name }}"</h3>

    <div class="day_of_group text-center"><p class="sm_bold">{{ par.subject }} - #{{ par.id }}</p></div>
    <div class="day_of_group text-center"><p class="sm_bold">{{ dicts['DAYS'][day.date.weekday() + 1] }}</p> {{ day.date.strftime("%d-%m-%Y") }}</div>
    <div class="day_of_group text-center" id="q"><p class="sm_bold">Время пары:</p> {{ dicts['PARS_TIMES'][par_index + 1] }}</div>
    <h5 class="text-center">*удаление может привести к нехватке выработки часов группы</h5>
    <div class="btns">
        <a href="/edit_day/{{ audience.id }}/{{ day.id }}" class="btn back"> <img src="/static/svg/left-arrow-svgrepo-com.svg" width="24" height="24">
            Назад
        </a>
        <h5 class="text-center"><button class="custom_btn">Подтвердить удаление</button></h5>
    </div>
</div>
</form>


{% endblock content %}