{% extends "base.html" %}

{% block content %}


<link rel="stylesheet" href="{{ url_for('static', filename='css/group.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/group_profile.css') }}">


<div class="all_table">
    {% set teacher = group.teacher %}

    <div class="table_header text-center">Группа #{{ group.id }} - {{ group.subject }}</div>
    <div class="items_of_table">
        <div class="two_cols">
            <div class="teacher">
                <div class="container">
                    <div class="box">
                        <div class="text text-center">
                            <h2>Преподаватель</h2>
                        </div>
                        <img src="{{ url_for('static', filename=teacher.img) }}">
                        <h3>
                            {{ teacher.surname }} {{ teacher.name[0] }}.
                            {% if teacher.otchestvo %} {{ teacher.otchestvo[0] }}. {% endif %}
                        </h3>
                        <p class="teacher_email"><i class='bx bx-envelope'></i>{{ teacher.email }}</p>
                        <a class="btn" href="/profile/{{ teacher.id }}">Профиль</a>
                        <a class="btn" href="#">Группы</a>
                    </div>
                </div>
            </div>
            <div class="teacher">
                <div class="container">
                    <div class="box">
                        <div class="text text-center">
                            <h2>Расписание</h2>
                        </div>
                        <img src="{{ url_for('static', filename=audience.image) }}" style="border-radius: 10% !important;">
                        <h3
                            style="display: flex;flex-direction: row;justify-content: center;align-items: center; padding-bottom:0">
                            {{ dicts['DAYS'][group.week_day0] }}
                            <p style="margin-left: 10px;">{{ dicts['PARS_TIMES'][group.timeday0] }}</p>
                        </h3>
                        <h3
                            style="display: flex;flex-direction: row;justify-content: center;align-items: center; padding:0;">
                            {{ dicts['DAYS'][group.week_day1] }}
                            <p style="margin-left: 10px;">{{ dicts['PARS_TIMES'][group.timeday1] }}</p>
                        </h3>
                        <a class="btn" href="/audience_profile/{{ audience.id }}">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="time_and_erorr">
    <div class="time_list">
        <h2>Нужно часов: {{ HOURS['need'] }}</h2>
        <h2>Пройдут часов: {{ HOURS['get'] }}</h2>
    </div>
    <div class="time_erorr">Требуется изменения в расписании</div>
</div>
<!-- List group -->
<div class="all_table_list">

    <div class="table_header_list" style="cursor: pointer;">Аудитория "{{ week.audience.name }}"<i class="fa fa-caret-down"
            style="margin-left: 30px;"></i></div>
    <div class="items_of_table_list">

        <!-- 1 -->
        {% for day in week.days %}
        <div class="list-group">
            <div class="day_of_group">{{ dicts['DAYS'][loop.index] }} {{ day.date.strftime("%d-%m-%Y") }}</div>
            <div class="table-responsive-sm" style="overflow-y: hidden">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Время</th>
                            <th scope="col">Группа</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for par in day.pars %}
                        <tr>
                            <th scope="row">{{ dicts['PARS_TIMES'][loop.index] }}</th>
                            <td style="{% if par.id == group.id %}color: orange;{% endif %}">
                                {% if par %}{{ par.subject }} - #{{ par.id }}{% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<script>
    const table_header_btn = document.querySelector('.table_header_list'),
        items_of_table = document.querySelector('.items_of_table_list');

    table_header_btn.addEventListener('click', () => {
        if (items_of_table.classList.contains('active')) {
            items_of_table.classList.remove('active');
            table_header_btn.classList.remove('active_rotate')
        }
        else {
            items_of_table.classList.add('active');
            table_header_btn.classList.add('active_rotate')
        }
    })
</script>

{% endblock %}