{% extends "base.html" %}

{% block content %}


{% if current_user.role in (3, 4) %}
<a style="color: black; background-color: orange" href="/delete_mer/{{ mer.mer_id }}"><h3>Удалить</h3></a>
{% endif %}
<div class="МЕРОПРИЯТИЕ">
    <h3>{{ mer.date.strftime("%d-%m-%Y") }}</h3>
    <h3>{{ dicts['PARS_TIMES'][mer.par] }}</h3>
    <h3>{{ mer.name }}</h3>
</div>
<div>
    <h2>Группы:</h2>
    {% for group in groups %}
    <div>
        <b>{{ group.subject }} - #{{ group.id }}</b>
        <div class="day_time"><b style="margin-right: 10px;">{{ dicts['DAYS'][group.week_day0] }}</b> {{
                    dicts['PARS_TIMES'][group.timeday0]
                    }}
                </div>
        <div class="day_time"><b style="margin-right: 10px;">{{ dicts['DAYS'][group.week_day1] }}</b> {{
                    dicts['PARS_TIMES'][group.timeday1]
                    }}
                </div>
        <a href="/group_profile/{{ group.id }}" class="btn btn_about">Подробнее</a>
    </div>
    {% endfor %}
</div>

{% endblock %}