{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/mer_profile.css') }}">



<div class="all_all">
    <div class="mer">
        <div class="all_mer">
            <div class="mer_label">
                <h3>Название мероприятия:</h3>
                <h3>Дата мероприятия: </h3>
                <h3>Время мероприятия: </h3>
            </div>
            <div class="mer_forms">
                <h3>{{ mer.name }}</h3>
                <h3>{{ mer.date.strftime("%d-%m-%Y") }}</h3>
                <h3>{{ dicts['PARS_TIMES'][mer.par] }}</h3>
            </div>
        </div>
    </div>
    {% if current_user.role in (3, 4) %}
    <div class="del">
        <a class="del_btn" href="/delete_mer/{{ mer.mer_id }}">Удалить</a>
    </div>
    {% endif %}
</div>


<div class="all">
    <h1 class="groups text-center">Группы:</h1>
    <div class="all_group">
        {% for group in groups %}
        <div class="group">
            <div class="name">
                {{ group.subject }} - #{{ group.id }}
            </div>
            <div class="day">
                <b style="margin-right: 10px;">{{ dicts['DAYS'][group.week_day0] }}</b>
                {{ dicts['PARS_TIMES'][group.timeday0] }}
            </div>
            <div class="time">
                <b style="margin-right: 10px;">{{ dicts['DAYS'][group.week_day1] }}</b>
                {{ dicts['PARS_TIMES'][group.timeday1] }}
            </div>
            <div class="about">
                <a class="about_btn" href="/group_profile/{{ group.id }}" class="btn btn_about">Подробнее</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}