{% extends 'base.html' %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="wrapper_register">
        <div class="text-center mt-4 name">
            <b>
                <h2><b style="font-weight: 700; font-size: 1em; letter-spacing: 2px; color: #000;">Регистрация</b></h2>
            </b>
        </div>
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="fa-solid fa-envelope"></span>
                <b style="width: -webkit-fill-available;">{{ form.email(class="form-control", type="email",
                    placeholder="E-mail") }}</b>
                {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <b style="width: -webkit-fill-available;">{{ form.password(class="form-control", type="password",
                    placeholder="Пароль") }}</b>
                {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <b style="width: -webkit-fill-available;">{{ form.password_again(class="form-control", type="password",
                    placeholder="Повторите пароль") }}</b>
                {% for error in form.password_again.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <b>{{ form.submit(value="Зарегистрировать админа", class="btn mt-3", style="font-weight: bold;") }}</b>
        </form>
    </div>
</form>

<style>
    @media screen and (max-width: 400px) {
    .btn.mt-3 {
        font-size: 0.9rem;
    }
    }
    @media screen and (max-width: 365px) {
    .btn.mt-3 {
        font-size: 0.85rem;
    }
}
</style>




<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

    input#myInput {
        visibility: hidden;
    }



    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="file"] {
        box-shadow: 0 0 0 rgb(255, 255, 255);
    }


    .text-cener.mt-4.name {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .wrapper_register {
        max-width: 500px;
        min-height: 500px;
        margin: 100px auto;
        padding: 10px 40px 40px 40px;
        border-radius: 25px;
        background-color: #fff;
    }


    .wrapper_register .name,
    .wrapper_register .surname {
        font-weight: 600;
        font-size: 1.4rem;
        letter-spacing: 1.3px;
        color: #000;

    }

    .wrapper_register .form-field input,
    .form-control {
        width: 100%;
        display: block;
        border: none;
        outline: none;
        background: none;
        font-size: 1.2rem;
        color: #000;
        padding: 10px 15px 10px 10px;
        font-size: 1.2em;

    }

    .wrapper_register .form-field {
        max-width: 430px;
        padding-left: 10px;
        margin-bottom: 30px;
        border-radius: 6px;
        border: 2px solid #555;
        font-size: 1.2em;

    }

    .wrapper_register .form-field .fas {
        color: #000;
    }

    .wrapper_register .btn {
        box-shadow: none;
        width: 100%;
        height: 50px;
        background-color: #223243;
        color: #fff;
        border-radius: 10px;
        letter-spacing: 1.3px;
    }

    .wrapper_register .btn:hover {
        background-color: #00dfc4;
    }
</style>

{% endblock %}