{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">

<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="wrapper_register">
        <div class="text-center mt-4 name">
            <b>
                <h2><b style="font-weight: 700; font-size: 1em; letter-spacing: 2px; color: #000;">Регистрация</b></h2>
            </b>
        </div>
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="fa-solid fa-envelope"></span>
                <b style="width: -webkit-fill-available;">{{ form.email(class="form-control", type="email",
                    placeholder="E-mail") }}</b>
                {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div class="form-field d-flex align-items-center">
                <span><b>Ф</b></span>
                <b style="width: -webkit-fill-available;">{{ form.surname(class="form-control", type="text",
                    placeholder="Фамилия") }}</b>
                {% for error in form.surname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div class="form-field d-flex align-items-center">
                <span><b>И</b></span>
                <b style="width: -webkit-fill-available;">{{ form.name(class="form-control", type="text",
                    placeholder="Имя") }}</b>
                {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div class="form-field d-flex align-items-center">
                <span><b>О</b></span>
                <b style="width: -webkit-fill-available;">{{ form.otchestvo(class="form-control", type="text",
                    placeholder="Отчество") }}</b>
                {% for error in form.otchestvo.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>

            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <b style="width: -webkit-fill-available;">{{ form.password(class="form-control", type="password",
                    placeholder="Пароль") }}</b>
                {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <b style="width: -webkit-fill-available;">{{ form.password_again(class="form-control", type="password",
                    placeholder="Повторите пароль") }}</b>
                {% for error in form.password_again.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div class="d-flex align-items-center">
                <div style="width: -webkit-fill-available;">
                    <label class="custom-file-upload"><span class="fa fa-cloud-upload"></span>
                        {{ form.img(class="form-control", type="file", accept=".jpg,") }}
                        <span>Выберите аватарку</span></label></div>
                {% for error in form.img.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <b>{{ form.submit(value="Зарегистрировать преподавателя", class="btn mt-3", style="font-weight: bold;") }}</b>
        </form>
    </div>
</form>


<script>
    $('.custom-file-upload input[type=file]').on('change', function () {
        let file = this.files[0];
        $(this).next().html(file.name);
    });
</script>


{% endblock %}