{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">

<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="bac_btn_div">
        <button class="btn back"> <img src="/static/svg/left-arrow-svgrepo-com.svg" width="24" height="24"> Назад
        </button>
    </div>
    <div class="wrapper_register">
        <div class="text-center mt-4 name">
            <b>
                <h2><b style="font-weight: 700; font-size: 1em; letter-spacing: 2px; color: #000;">Регистрация</b></h2>
            </b>
        </div>
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="fa-solid fa-envelope"></span>
                <b style="width: -webkit-fill-available;">{{ form.email(class="form-control", type="email",
                    placeholder="E-mail") }}</b>
                {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <b style="width: -webkit-fill-available;">{{ form.password(class="form-control", type="password",
                    placeholder="Пароль") }}</b>
                {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <b style="width: -webkit-fill-available;">{{ form.password_again(class="form-control", type="password",
                    placeholder="Повторите пароль") }}</b>
                {% for error in form.password_again.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            <b>{{ form.submit(value="Зарегистрировать админа", class="btn mt-3", style="font-weight: bold;") }}</b>
        </form>
    </div>
</form>

<script>
    document.querySelector('.btn.back').addEventListener('click', () => { window.history.back() })
</script>
{% endblock %}