{% extends "base.html" %}

{% block content %}


<link rel="stylesheet" href="{{ url_for('static', filename='css/show_groups.css') }}">


<div class="all">
    <div class="tabel_header">
        <div class="all_group">Все группы:</div>
        {% if current_user.role in (3, 4) %}
        <a href="/create_group" class="btn btn_add">Добавить группу</a>
        {% endif %}
    </div>
    {% if le == 0 %}
    <div class="table text-center" style="margin-top: 20px;">
        <h3>Групп нет</h3>
    </div>
    {% endif %}
    {% for i in range(le) %}
    <div class="tabel">
        {% set group = groups[i] %}
        <div class="container group">
            <div class="name_group"><b>{{ group.subject }} - #{{ group.id }}</b></div>
            <div class="group_time">
                <div class="day_time"><b style="margin-right: 10px;">{{ dicts['DAYS'][group.week_day0] }}</b> {{
                    dicts['PARS_TIMES'][group.timeday0]
                    }}
                </div>
                <div class="day_time"><b style="margin-right: 10px;">{{ dicts['DAYS'][group.week_day1] }}</b> {{
                    dicts['PARS_TIMES'][group.timeday1]
                    }}
                </div>
            </div>
            <a href="/group_profile/{{ group.id }}" class="btn btn_about">Подробнее</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}