{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/teachers.css') }}">

<div class="wrapper">
    <h1 class="text-center">Список преподавателей</h1>
    <div class="container">
        {% if not teachers %}
        <h3 align="center">Нет преподавателей</h3>
        {% else %}
        {% for teacher in teachers %}
        <div class="box">
            <img src="{{ url_for('static',  filename=teacher.img) }}">
            <div class="name">
                <h3>{{teacher.surname}} {{teacher.name}} {{teacher.otchestvo}}</h3>
                <p class="teacher_email"><i class='bx bx-envelope'></i>{{teacher.email}}</p>
            </div>
            <div class="btns">
                <a class="btn" href="/profile/{{teacher.id}}">Профиль</a>
                <a class="btn" href="/user_groups/{{ teacher.id }}">Группы</a>
                {% if current_user.role in (3, 4) %}
                <a class="btn" href="/edit_user/{{teacher.id}}">Редактировать</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>
</div>


{% endblock %}