{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/show_admins.css') }}">

<div class="wrapper">
    <h1 class="text-center">Список администраторов</h1>
    <div class="container">
        {% if not admins %}
        <h3 align="center">Нет администраторов</h3>
        {% else %}
        {% for admin in admins %}
        <div class="box">
            <p class="teacher_email">
            <h3><i class='bx bx-envelope'></i>{{admin.email}}</h3>
            </p>
            <a class="btn" href="/profile/{{admin.id}}">Профиль</a>
            {% if current_user.role in (3, 4) %}
            <a class="btn" href="/edit_user/{{admin.id}}">Редактировать</a>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}

    </div>
</div>
{% endblock %}