{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/teachers.css') }}">

<div class="wrapper">
    <h1>PLITCA chocolate</h1>
    <div class="container">
        <div class="box">
            <img src="/static/img/dobrohotov.jpg">
            <h3>Доброхотов С.Б.</h3>
            <p class="teacher_email"><i class='bx bx-envelope'></i>dobrohotob@gmail.com</p>
            <a class="btn" href="#">Профиль</a>
            <a class="btn" href="#">Группы</a>
        </div>
        <div class="box">
            <img src="/static/img/dobrohotov_rppg.jpg">
            <h3>Доброхотов С.Б. c рпг</h3>
            <p class="teacher_email"><i class='bx bx-envelope'></i>dobrohotob@gmail.com</p>
            <a class="btn" href="#">Профиль</a>
            <a class="btn" href="#">Группы</a>
        </div>
        <div class="box">
            <img src="/static/img/1.jpg">
            <h3>Зубенко М.П.</h3>
            <p class="teacher_email"><i class='bx bx-envelope'></i>zybenko@gmail.com</p>
            <a class="btn" href="#">Профиль</a>
            <a class="btn" href="#">Группы</a>
        </div>
        <div class="box">
            <img src="/static/img/dobrohotov.jpg">
            <h3>Доброхотов С.Б.</h3>
            <p class="teacher_email"><i class='bx bx-envelope'></i>dobrohotob@gmail.com</p>
            <a class="btn" href="#">Профиль</a>
            <a class="btn" href="#">Группы</a>
        </div>
        <div class="box">
            <img src="/static/img/dobrohotov_rppg.jpg">
            <h3>Доброхотов С.Б. c рпг</h3>
            <p class="teacher_email"><i class='bx bx-envelope'></i>dobrohotob@gmail.com</p>
            <a class="btn" href="#">Профиль</a>
            <a class="btn" href="#">Группы</a>
        </div>
        <div class="box">
            <img src="/static/img/dobrohotov.jpg">
            <h3>Доброхотов С.Б.</h3>
            <p class="teacher_email"><i class='bx bx-envelope'></i>dobrohotob@gmail.com</p>
            <a class="btn" href="#">Профиль</a>
            <a class="btn" href="#">Группы</a>
        </div>
        <div class="box">
            <img src="/static/img/dobrohotov_rppg.jpg">
            <h3>Доброхотов С.Б. c рпг</h3>
            <p class="teacher_email"><i class='bx bx-envelope'></i>dobrohotob@gmail.com</p>
            <a class="btn" href="#">Профиль</a>
            <a class="btn" href="#">Группы</a>
        </div>
        <div class="box">
            <img src="/static/img/dobrohotov.jpg">
            <h3>Доброхотов С.Б.</h3>
            <p class="teacher_email"><i class='bx bx-envelope'></i>dobrohotob@gmail.com</p>
            <p class="teacher_about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. d;ljasd aljdsjkha aljsd
            </p>
            <a class="btn" href="#">Профиль</a>
            <a class="btn" href="#">Группа</a>
        </div>
        <div class="box">
            <img src="/static/img/dobrohotov_rppg.jpg">
            <h3>Доброхотов С.Б. c рпг</h3>
            <p class="teacher_email"><i class='bx bx-envelope'></i>dobrohotob@gmail.com</p>
            <p class="teacher_about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. d;ljasd aljdsjkha aljsd
            </p>
            <a class="btn" href="#">Профиль</a>
            <a class="btn" href="#">Группа</a>
        </div>
        <div class="box">
            <img src="/static/img/dobrohotov.jpg">
            <h3>Доброхотов С.Б.</h3>
            <p class="teacher_email"><i class='bx bx-envelope'></i>dobrohotob@gmail.com</p>
            <p class="teacher_about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. d;ljasd aljdsjkha aljsd
            </p>
            <a class="btn" href="#">Профиль</a>
            <a class="btn" href="#">Группа</a>
        </div>
        <div class="box">
            <img src="/static/img/dobrohotov_rppg.jpg">
            <h3>Доброхотов С.Б. c рпг</h3>
            <p class="teacher_email"><i class='bx bx-envelope'></i>dobrohotob@gmail.com</p>
            <p class="teacher_about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. d;ljasd aljdsjkha aljsd
            </p>
            <a class="btn" href="#">Профиль</a>
            <a class="btn" href="#">Группы</a>
        </div>
        <div class="box">
            <img src="/static/img/dobrohotov.jpg">
            <h3>Доброхотов С.Б.</h3>
            <p class="teacher_email"><i class='bx bx-envelope'></i>dobrohotob@gmail.com</p>
            <p class="teacher_about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. d;ljasd aljdsjkha aljsd
            </p>
            <a class="btn" href="#">Профиль</a>
            <a class="btn" href="#">Группа</a>
        </div>
        <div class="box">
            <img src="/static/img/dobrohotov_rppg.jpg">
            <h3>Доброхотов С.Б. c рпг</h3>
            <p class="teacher_email"><i class='bx bx-envelope'></i>dobrohotob@gmail.com</p>
            <p class="teacher_about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. d;ljasd aljdsjkha aljsd
            </p>
            <a class="btn" href="#">Профиль</a>
            <a class="btn" href="#">Группа</a>
        </div>
    </div>
</div>


{% endblock %}