{% extends "base.html" %}

{% block content %}


<link rel="stylesheet" href="{{ url_for('static', filename='css/show_groups.css') }}">


<div class="all">
    <div class="tabel_header">
        <div class="all_group">Группы пользователя {{ user.email }}:</div>
    </div>
    {% if le == 0 %}
    <div class="table text-center" style="margin-top: 20px;">
        <h3>Пользователь не добавлен к группам</h3>
    </div>
    {% endif %}
    {% if current_user.role in (3, 4) %}
    <!-- <a href="/add_to_group/{{ user.id }}" class="btn btn_add">Добавить в группу</a> -->
    {% endif %}
    {% for group in groups %}
    <div class="tabel">
        <div class="container group" {% if group.id in follows %} style="border-color: #f7904a;" {% endif %}>
            <div class="name_group"><b>{{ group.subject }} - #{{ group.id }}</b></div>
            <div class="group_time">
                <div class="day_time"><b style="margin-right: 10px;">{{ dicts['DAYS'][group.week_day0] }}</b> {{
                    dicts['PARS_TIMES'][group.timeday0]
                    }}
                </div>
                <div class="day_time"><b style="margin-right: 10px;">{{ dicts['DAYS'][group.week_day1] }}</b> {{
                    dicts['PARS_TIMES'][group.timeday1]
                    }}
                </div>
            </div>
            <a href="/group_profile/{{ group.id }}" class="btn btn_about">Подробнее</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}